In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys

In [3]:
df_kaggle = pd.read_csv('../data/airbnb_open_data_clean.csv')
df_online = pd.read_csv('../data/too_small_listings.csv')
test = pd.read_csv('../data/airbnb_open_data_full.csv')

C:\Users\ionad\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (68) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
len(df_kaggle)

102073

In [5]:
len(df_online)

39881

In [6]:
len(test)

39881

In [7]:
df_kaggle

,id,name,host_id,host_identity_verified,host_name,neighbourhood,lat,long,instant_bookable,cancellation_policy,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,neighbourhood_group
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Kensington,40.64749,-73.97237,False,strict,...,193.0,10.0,9.0,2021-10-19,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,Brooklyn
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Midtown,40.75362,-73.98377,False,moderate,...,28.0,30.0,45.0,2022-05-21,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,Manhattan
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Harlem,40.80902,-73.94190,True,flexible,...,124.0,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",Manhattan
3,1002755,NaN,85098326012,unconfirmed,Garry,Clinton Hill,40.68514,-73.95976,True,moderate,...,74.0,30.0,270.0,2019-07-05,4.64,4.0,1.0,322.0,NaN,Brooklyn
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,East Harlem,40.79851,-73.94399,False,moderate,...,41.0,10.0,9.0,2018-11-19,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102068,57365208,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,Flatbush,40.64945,-73.96108,True,moderate,...,NaN,7.0,12.0,2019-03-27,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,Brooklyn
102069,57365760,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,Bushwick,40.69872,-73.92718,False,flexible,...,NaN,1.0,19.0,2017-08-31,0.72,3.0,2.0,0.0,#NAME?,Brooklyn
102070,57366313,Pretty Brooklyn One-Bedroom for 2 to 4 people,23801060917,verified,Michael,Bedford-Stuyvesant,40.67810,-73.90822,True,moderate,...,NaN,2.0,50.0,2019-06-26,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,Brooklyn
102071,57366865,Room & private bathroom in historic Harlem,15593031571,unconfirmed,Shireen,Harlem,40.81248,-73.94317,True,strict,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,Manhattan
102072,57367417,Rosalee Stewart,93578954226,verified,Stanley,Harlem,40.81315,-73.94747,False,flexible,...,NaN,4.0,22.0,2019-06-15,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,Manhattan

In [8]:
df_online

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2539,https://www.airbnb.com/rooms/2539,20220907064715,2022-09-07,city scrape,Clean & quiet apt home by the park,Renovated apt home in elevator building.<br />...,Close to Prospect Park and Historic Ditmas Park,https://a0.muscache.com/pictures/3949d073-a02e...,2787,...,5.00,4.75,4.88,NaN,f,9,1,6,2,0.11
1,2595,https://www.airbnb.com/rooms/2595,20220907064715,2022-09-07,city scrape,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/f0813a11-40b2...,2845,...,4.80,4.81,4.40,NaN,f,3,3,0,0,0.31
2,5121,https://www.airbnb.com/rooms/5121,20220907064715,2022-09-07,city scrape,BlissArtsSpace!,One room available for rent in a 2 bedroom apt...,NaN,https://a0.muscache.com/pictures/2090980c-b68e...,7356,...,4.91,4.47,4.52,NaN,f,2,0,2,0,0.31
3,45910,https://www.airbnb.com/rooms/45910,20220907064715,2022-09-07,city scrape,Beautiful Queens Brownstone! - 5BR,"<b>The space</b><br />Beautiful, fully furnish...",NaN,https://a0.muscache.com/pictures/27117627/19ff...,204539,...,5.00,4.82,4.55,NaN,f,6,6,0,0,0.10
4,5136,https://www.airbnb.com/rooms/5136,20220907064715,2022-09-07,city scrape,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,7378,...,5.00,4.67,5.00,NaN,f,1,1,0,0,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39876,43728504,https://www.airbnb.com/rooms/43728504,20220907064715,2022-09-08,previous scrape,Private Modern House by The Beach,Private modern house by the Beach with all com...,Rockaway Beach is a neighborhood that gives it...,https://a0.muscache.com/pictures/6c950656-b090...,23049030,...,5.00,4.94,4.88,NaN,f,1,1,0,0,1.22
39877,44578886,https://www.airbnb.com/rooms/44578886,20220907064715,2022-09-08,previous scrape,Beautiful apartment - minutes to NYC,Our apartment is straight across the river fro...,Our apartment is located in a very interesting...,https://a0.muscache.com/pictures/dd5163c1-7e02...,48009648,...,4.96,4.81,4.85,NaN,f,1,1,0,0,2.12
39878,46355090,https://www.airbnb.com/rooms/46355090,20220907064715,2022-09-08,previous scrape,"1 Bedroom Basement, NEWLY Renovated",With easy access to multiple bus stops and the...,NaN,https://a0.muscache.com/pictures/64c81ee7-b396...,371552251,...,4.36,4.36,4.55,NaN,t,1,1,0,0,0.50
39879,698195550745703156,https://www.airbnb.com/rooms/698195550745703156,20220907064715,2022-09-08,city scrape,"Luxurious private waterfront terrace, 2BR 2BA Apt","This two bed, two bath apartment overlooking t...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,151487807,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
39880,48971505,https://www.airbnb.com/rooms/48971505,20220907064715,2022-09-08,previous scrape,Just Blocks to Grove PATH and JC Med Ctr,Very convenient to the Grove St PATH (5 min wa...,NaN,https://a0.muscache.com/pictures/b12bc7dc-573c...,46201,...,4.73,4.87,4.47,NaN,f,1,0,1,0,0.91

In [11]:
df_online[(df_online.latitude==40.81315) & (df_online.longitude==-73.94747)]

Empty DataFrame
Columns: [id, listing_url, scrape_id, last_scraped, source, name, description, neighborhood_overview, picture_url, host_id, host_url, host_name, host_since, host_location, host_about, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_thumbnail_url, host_picture_url, host_neighbourhood, host_listings_count, host_total_listings_count, host_verifications, host_has_profile_pic, host_identity_verified, neighbourhood, neighbourhood_cleansed, neighbourhood_group_cleansed, latitude, longitude, property_type, room_type, accommodates, bathrooms, bathrooms_text, bedrooms, beds, amenities, price, minimum_nights, maximum_nights, minimum_minimum_nights, maximum_minimum_nights, minimum_maximum_nights, maximum_maximum_nights, minimum_nights_avg_ntm, maximum_nights_avg_ntm, calendar_updated, has_availability, availability_30, availability_60, availability_90, availability_365, calendar_last_scraped, number_of_reviews, number_of_reviews_ltm, number_of_reviews_l30d, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, license, instant_bookable, calculated_host_listings_count, calculated_host_listings_count_entire_homes, calculated_host_listings_count_private_rooms, calculated_host_listings_count_shared_rooms, reviews_per_month]
Index: []

[0 rows x 75 columns]

In [33]:
count = df_kaggle.groupby(['lat', 'long'], as_index=False).size().reset_index(drop=True)

In [37]:
df_kaggle[(df_kaggle.lat==40.50708) & (df_kaggle.long==-74.24285)]

,id,name,host_id,host_identity_verified,host_name,neighbourhood,lat,long,instant_bookable,cancellation_policy,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,neighbourhood_group
15295,9439928,Villa DiGioia visit NYC via SI,73755720244,verified,Michael J,Tottenville,40.50708,-74.24285,True,strict,...,56.0,2.0,0.0,NaN,NaN,2.0,1.0,239.0,House Rules 1. Check-in is 4 pm local time. If...,Staten Island
85116,48002618,Villa DiGioia visit NYC via SI,72639175396,verified,Michael J,Tottenville,40.50708,-74.24285,True,strict,...,56.0,2.0,0.0,NaN,NaN,2.0,1.0,239.0,House Rules 1. Check-in is 4 pm local time. If...,Staten Island

In [39]:
df_kaggle[(df_kaggle.lat==40.50868) & (df_kaggle.long==-74.23986)]

,id,name,host_id,host_identity_verified,host_name,neighbourhood,lat,long,instant_bookable,cancellation_policy,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,neighbourhood_group
1441,1788364,"Beautiful 4BR/4BA Home, Staten Island, NY City.",63542823809,verified,Marina,Tottenville,40.50868,-74.23986,True,strict,...,150.0,3.0,59.0,2019-07-08,0.82,2.0,1.0,278.0,Thank you for your reservation. By placing you...,Staten Island
69617,39441968,"Beautiful 4BR/4BA Home, Staten Island, NY City.",78761503890,unconfirmed,Marina,Tottenville,40.50868,-74.23986,True,flexible,...,150.0,3.0,59.0,2019-07-08,0.82,2.0,1.0,245.0,NaN,Staten Island

In [44]:
df_kaggle[(df_kaggle.lat==40.89873) & (df_kaggle.long==-73.86449)]

,id,name,host_id,host_identity_verified,host_name,neighbourhood,lat,long,instant_bookable,cancellation_policy,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,neighbourhood_group
30596,17890670,LATE CHECK IN DISCOUNT! NO CLEANING FEE! 2/5 t...,73672455110,unconfirmed,Shera,Woodlawn,40.89873,-73.86449,False,strict,...,75.0,1.0,122.0,2019-06-28,8.24,3.0,4.0,5.0,No Smoking No Pets,Bronx
73553,41616373,LATE CHECK IN DISCOUNT! NO CLEANING FEE! 2/5 t...,47195636695,unconfirmed,Shera,Woodlawn,40.89873,-73.86449,False,strict,...,75.0,1.0,122.0,2019-06-28,8.24,3.0,4.0,5.0,NaN,Bronx
93528,52648566,LATE CHECK IN DISCOUNT! NO CLEANING FEE! 2/5 t...,88269149206,verified,Shera,Woodlawn,40.89873,-73.86449,False,moderate,...,75.0,1.0,122.0,2019-06-28,8.24,3.0,4.0,5.0,No Smoking No Pets,Bronx

In [40]:
count[count['size']==3]

            lat      long  size
76     40.56933 -74.09493     3
79     40.57044 -74.11747     3
139    40.57608 -73.96140     3
160    40.57688 -73.95308     3
163    40.57701 -73.96616     3
...         ...       ...   ...
67090  40.89691 -73.85121     3
67103  40.89811 -73.85543     3
67112  40.89873 -73.86449     3
67125  40.90175 -73.89761     3
67132  40.90356 -73.84172     3

[2655 rows x 3 columns]

In [46]:
count2 = df_online.groupby(['latitude', 'longitude'], as_index=False).size().reset_index(drop=True)

In [50]:
count.groupby('size').size().sort_values(ascending=False)

size
1     40101
2     21885
3      2655
4      2486
6        10
5         8
7         5
11        3
8         3
15        2
9         2
31        1
14        1
dtype: int64

In [49]:
count2.groupby('size').size().sort_values(ascending=False)

size
1     38467
2       157
3        50
4        31
5        20
6         9
10        7
7         6
8         6
11        5
9         4
24        3
17        2
12        2
53        1
49        1
14        1
16        1
18        1
19        1
21        1
22        1
30        1
36        1
13        1
dtype: int64

In [52]:
count2[count2['size']==2]

        latitude  longitude  size
101    40.576569 -73.985207     2
188    40.579930 -73.837486     2
237    40.581832 -73.830652     2
553    40.593220 -74.068570     2
809    40.605510 -74.016620     2
...          ...        ...   ...
37229  40.840750 -73.936510     2
37427  40.845810 -73.942120     2
37808  40.855850 -73.929470     2
38390  40.881000 -73.835110     2
38403  40.882013 -73.849521     2

[157 rows x 3 columns]

In [54]:
df_online[(df_online.latitude==40.593220)&(df_online.longitude==-74.068570)]

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
10114,17073870,https://www.airbnb.com/rooms/17073870,20220907064715,2022-09-07,city scrape,South Beach Apartment Express to Manhattan,Beautiful Renovated apartment 2 blocks from So...,Its a pretty quiet neighborhood and safe at ni...,https://a0.muscache.com/pictures/d00f9f87-206b...,41398005,...,4.93,4.88,4.71,NaN,t,3,3,0,0,1.39
10295,17716523,https://www.airbnb.com/rooms/17716523,20220907064715,2022-09-07,city scrape,30 Minutes from Manhattan Apartment in South B...,Renovated Apartment 2 blocks from the Beach wi...,"South Beach is a quiet area in New York, yet c...",https://a0.muscache.com/pictures/703194db-c091...,41398005,...,4.89,4.69,4.67,NaN,t,3,3,0,0,3.71

In [56]:
df_online[(df_online.latitude==40.881000)&(df_online.longitude==-73.835110	)]

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
127,63610,https://www.airbnb.com/rooms/63610,20220907064715,2022-09-07,city scrape,DOMINIQUE'S mini guest suite Efficiency pad* M...,**Clean accommodations**<br />safe home-sleeps...,Come visit the Big Apple* Times Square* see a ...,https://a0.muscache.com/pictures/91c53f7c-1a2c...,310670,...,4.96,4.70,4.68,NaN,f,6,6,0,0,0.46
3464,4963511,https://www.airbnb.com/rooms/4963511,20220907064715,2022-09-07,city scrape,Vie's 3bedrm crashpad* sleeps7 *Metro*street prkg,"The Bronx is famous for its Co-Op City, the la...","A safe, quiet, diverse neighborhood with res...",https://a0.muscache.com/pictures/d4eb2bec-4117...,310670,...,4.77,4.45,4.50,NaN,f,6,6,0,0,0.42