In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

In [5]:
df7 = pd.read_csv('../data/Hotel_with_neighbour_counts_Airbnb.csv')
df7.head()

,neighbourhood,neighbourhood_group,airbnb_counts_per_neighbourhood,zipcode,hotel_counts_per_neighbourhood
0,Fort Wadsworth,Staten Island,1.0,10305,0.0
1,New Dorp,Staten Island,1.0,10306,0.0
2,Neponsit,Queens,2.0,11694,0.0
3,Country Club,Bronx,1.0,10465,2.0
4,Willowbrook,Staten Island,1.0,10314,0.0

In [6]:
df7['hotel_counts_per_neighbourhood'] = df7['hotel_counts_per_neighbourhood'].astype(int)
df7['airbnb_counts_per_neighbourhood'] = df7['airbnb_counts_per_neighbourhood'].astype(int)

In [7]:
df7.head()

,neighbourhood,neighbourhood_group,airbnb_counts_per_neighbourhood,zipcode,hotel_counts_per_neighbourhood
0,Fort Wadsworth,Staten Island,1,10305,0
1,New Dorp,Staten Island,1,10306,0
2,Neponsit,Queens,2,11694,0
3,Country Club,Bronx,1,10465,2
4,Willowbrook,Staten Island,1,10314,0

In [8]:
df7.to_csv('../data/Hotel_final.csv', index=False)