In [2]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys
%matplotlib inline

In [3]:
df_hotel = pd.read_csv('../data/Hotels_Airbnbs_merged.csv')
df_airbnb = pd.read_csv('../data/airbnb_open_data_full_clean.csv')

In [4]:
# add df_hotel into df_airbnb by 'neighbourhood_group'
df_airbnb_copy = df_airbnb.merge(df_hotel, on='neighbourhood_group', how='left')

In [5]:
df_airbnb_copy.head()

,id,name,host_id,host_name,neighbourhood,neighbourhood_group,latitude,longitude,price,calculated_host_listings_count,host_listings_neighbourhood_count,host_listings_neighbourhood_group_count,has_fire_alarm,has_co_monitor,hotel_counts_per_neighbourhood_group,airbnb_counts_per_neighbourhood_group
0,2539,Clean & quiet apt home by the park,2787,John,Kensington,Brooklyn,40.64529,-73.97238,299.0,9,2,9,True,True,354,14845
1,2595,Skylit Midtown Castle,2845,Jennifer,Midtown,Manhattan,40.75356,-73.98559,175.0,3,1,3,True,True,4528,16847
2,5121,BlissArtsSpace!,7356,Garon,Bedford-Stuyvesant,Brooklyn,40.68535,-73.95512,60.0,2,2,2,False,False,354,14845
3,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Ridgewood,Queens,40.70309,-73.89963,425.0,6,3,6,True,True,417,6175
4,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Sunset Park,Brooklyn,40.66265,-73.99454,275.0,1,1,1,True,True,354,14845

In [7]:
df_airbnb_copy.to_csv('../data/Hotels_Airbnbs_merged_final.csv')